@media (min-width: 768px) {
            .hero-section { height: 380px; }
        }

        @media (min-width: 768px) {
            .thumb-img { height: 5rem; }
        }


        @media (min-width: 768px) {
            .main-image-wrap { height: 380px; }
        }


        @media (min-width: 992px) {
            .room-grid {
                grid-template-columns: 1fr 1.3fr 0.85fr;
            }
        }